.inlineblock-logo {
    display: inline-block;
    vertical-align: top;
    }
.inlineblock-logo li {
    display: inline-block;
}

.logo div{
    width: 23%;
    padding: 1%;
}

nav {
    width: 73%;
    padding: 1%
}

#header-nav {
    display: table;
    vertical-align: top;
    text-align: center;
    width: 100%;
    margin-left: auto;
}

.logo {
    text-align: center;
}

.heroimg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;

}

footer {
    background-color: #373738;
    color: white 
}

#footer-nav ul {
    text-align: center;
    display: inline;
    vertical-align: top;
}

li {
        display:table;
        text-align: center;
        display: inline;
        padding: 40px;

    }


.flexcontainer {
    display: flex;
    flex-direction: column;
    width: 33%;
    vertical-align: top;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}

.mywork {
    text-align: center;
}

.workgrid {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 100px;
    grid-template-columns: 175px;
    grid-template-areas: unset;
}

.item1 {
    grid-row-start: 1 / 2 / span 2 / span 3;
}

@media only screen and (max-width: 600) {
    .flexcontainer {
        flex-direction: column;
        width: 100%;
        grid-template-rows: 100px;
        grid-template-columns: 175px;
        grid-template-areas: unset;
    }
}


